{{> navBar/navBar}}


<div class="section white">
  <div class="row container intro">
    <div class="col s12 m8">

      <h1 class="header">Hi, my name is James.</h1>
      <h2 class="grey-text text-darken-3 lighten-3">I'm a Web Developer &amp; Designer living in Portsmouth, NH.</h2>
    </div>
    <div class="col s12 m4 center-align ">
      <img id="avatarImg" class="responsive-img circle" src="assets/img/Me.jpg">
    </div>
  </div>
</div>

<div class="parallax-container" id="parallax-img1">
  <div class="parallax" materialize="parallax">}
    <img src="assets/img/bostonSkyline.jpg" />
  </div>
</div>

<div class="section white">
  <div class="row container">
    <h3 class="header">A little bit about me...</h3>
    <p class="grey-text text-darken-3 lighten-3">My interest in all things tech started...
      <br/> I graduated with a B.A. in Communication from Westfield State University in 2015.
      <br/> I'm currently working in the world of Data by day, and freelance web development by night.
    </p>

    <h3 class="header">Stuff I do on the web...</h3>
    <h4 class="header">Front-End:</h4>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground
      content while scrolling.</p>

    <h4 class="header">Back-End:</h4>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground
      content while scrolling.</p>

    <h4 class="header">CMS:</h4>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground
      content while scrolling.</p>
  </div>
</div>

<div class="parallax-container" id="parallax-img2">
  <div class="parallax" materialize="parallax">
    <img src="assets/img/nhSkyline.jpg">
  </div>
</div>

{{> footer/footer}}