{{> navBar/navBar}}


<div class="section white">
  <div class="row container intro">
    <div class="col s12 m8">

      <h1 class="header">Hi, my name is James.</h1>
      <h2 class="grey-text text-darken-3 lighten-3">I am a Full-Stack Web Developer &amp; Designer living in Portsmouth, NH.</h2>
    </div>
    <div class="col s12 m4 center-align ">
      <img id="avatarImg" class="responsive-img circle" src="https://i.imgur.com/p9CKPB4.jpg?1"> {{!--
      <img id="avatarImg" class="circle" src="https://i.imgur.com/p9CKPB4.jpg?1"> --}}
    </div>
  </div>
</div>

<div class="parallax-container" id="parallax-img1">
  <div class="parallax" materialize="parallax">
    <img src="https://i.imgur.com/IzjU61g.jpg" />
  </div>
</div>

<div class="section white">
  <div class="row container">
    <h3 class="header">About:</h3>
    <p class="grey-text text-darken-3 lighten-3">This is where I am going to put information about myself</p>
    
    <h3 class="header">Services:</h3>
    <h4 class="header">I do this:</h4>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground
      content while scrolling.</p>

    <h4 class="header">I do this:</h4>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground
      content while scrolling.</p>

    <h4 class="header">I do this:</h4>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground
      content while scrolling.</p>
  </div>
</div>

<div class="parallax-container" id="parallax-img2">
  <div class="parallax" materialize="parallax">
    <img src="https://i.imgur.com/gCcEnYg.jpg?1">
  </div>
</div>

{{> footer/footer}}