{{> navBar/navBar}} 

<div class="section white">
  <div class="row container intro">
    <div class="col s12 m8">

      <h1 class="header">Hi, my name is James.</h1>
      <h2 class="grey-text text-darken-3 lighten-3">I am a Full-Stack Web Developer &amp; Desginer living in Portsmouth, NH.</h2>
    </div>
    <div class="col s12 m4 center-align ">
      <img id="avatarImg" class="responsive-img circle" src="https://i.imgur.com/p9CKPB4.jpg?1"> {{!--
      <img id="avatarImg" class="circle" src="https://i.imgur.com/p9CKPB4.jpg?1"> --}}
    </div>
  </div>
</div>

{{> footer/footer}}