{{> navBar/navBar}}

<div class="section white">
    <div class="row container intro">
        <div class="col">

            <h1 class="header">These are some of the projects I've worked on recently...</h1>
            {{!--
            <h2 class="grey-text text-darken-3 lighten-3">I am a Full-Stack Web Developer &amp; Desginer living in Portsmouth, NH.</h2> --}}

        </div>
    </div>
</div>

<div class="carousel">
    <a class="carousel-item" href="#one!">
        <img src="assets/img/test.jpg">
    </a>
    <a class="carousel-item" href="#two!">
        <img src="assets/img/test.jpg">
    </a>
    <a class="carousel-item" href="#three!">
        <img src="assets/img/test.jpg">
    </a>
    <a class="carousel-item" href="#four!">
        <img src="assets/img/test.jpg">
    </a>
    <a class="carousel-item" href="#five!">
        <img src="assets/img/test.jpg">
    </a>
</div>

{{> footer/footer}}