<footer class="page-footer white">
    <div class="container">
        <div class="row">
            <h1 class="black-text">Interested in working together?</h1>
            <a href="mailto:jkltroth@gmail.com" class="emailBtn waves-effect white btn-large btn-flat">
                <i class="material-icons right">mail_outline</i>Email Me</a>
        </div>
    </div>
    {{!--
    <div class="footer-copyright grey lighten-5"> --}}
        <div class="footer-copyright white">
            <div class="container black-text center-align">
                Copyright © James Roth 2018
            </div>
        </div>
</footer>