<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <span class="row card-title">
          <div class="col s9">
            <a class="titleLink" href="{{this.link}}">{{this.title}}</a>
            <div class="card-action">
              <p class="teaser">{{this.teaser}}</p>
            </div>
          </div>
          <div class="col s3">
            <a class="savedArticleBtn right waves-effect waves-light btn-large">Save Article</a>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>