<nav class="z-depth-0 container">
    <div class="nav-wrapper white">
        <a href="/" class="brand-logo black-text hide-on-med-and-down">Icon</a>
        <a href="/" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons black-text">menu</i>
        </a>
        <a href="/" class="brand-logo black-text hide-on-large-only right">Icon</a>
        <ul id="navLinks" class="right hide-on-med-and-down">
            <li>
                <a href="/" class="black-text">Home</a>
            </li>
            <li>
                <a href="/projects" class="black-text">Projects</a>
            </li>
            <!-- Dropdown Trigger -->
            <li>
                <a class="dropdown-trigger black-text" data-target="navBarDropdown">Social</a>
            </li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li>
        <a href="/" class="black-text">Home</a>
    </li>
    <li>
        <a href="/projects" class="black-text">Projects</a>
    </li>
    <!-- Dropdown Trigger -->
    <li>
        <a class="dropdown-trigger black-text" data-target="sideNavDropdown">Social</a>
    </li>
</ul>

<ul id="navBarDropdown" class="dropdown-content">
    <li>
        <a href="https://www.linkedin.com/in/jkltroth" target="_blank" class="dropdownIcons black-text center-align">
            <img class="socialIcons" src="assets/img/linkedin.png" />
        </a>
    </li>
    <li>
        <a href="https://github.com/jkltroth" target="_blank" class="dropdownIcons black-text center-align">
            <img class="socialIcons" src="assets/img/github.png" />
        </a>
    </li>
    <li>
        <a href="https://stackoverflow.com/users/8334998/james-roth?tab=profile" target="_blank" class="dropdownIcons black-text center-align">
            <img class="socialIcons" src="assets/img/stackoverflow.png" />
        </a>
    </li>
</ul>

<ul id="sideNavDropdown" class="dropdown-content">
    <li>
        <a href="https://www.linkedin.com/in/jkltroth" target="_blank" class="black-text">
            <img class="socialIcons" src="assets/img/linkedin.png" />
        </a>
    </li>
    <li>
        <a href="https://github.com/jkltroth" target="_blank" class="black-text">
            <img class="socialIcons" src="assets/img/github.png" />
        </a>
    </li>
    <li>
        <a href="https://stackoverflow.com/users/8334998/james-roth?tab=profile" target="_blank" class="black-text">
            <img class="socialIcons" src="assets/img/stackoverflow.png" />
        </a>
    </li>
</ul>