html {
    position: relative;
    min-height: 100%;
    /* border: 8px solid #494C4E;
    background: url(../img/bostonSkyline.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

#avatarImg {
    width: 150px
}

.brand-logo {
    margin-left: 30px;
}

.socialIcons {
    width: 50px
}

a.dropdownIcons.black-text {
    padding: 0px;
}

.parallax-container {
    height: 600px;
  }

#navLinks {
    /* margin-right: 210px; */
}