html {
    position: relative;
    min-height: 100%;
    /* border: 8px solid #494C4E;
    background: url(../img/bostonSkyline.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}
.container{
    width:60%;
}

#avatarImg {
    width: 250px
}

.brand-logo {
    margin-left: 30px;
}

.socialIcons {
    width: 50px
}

a.dropdownIcons.black-text {
    padding: 0px;
}

#parallax-img1 {
    height: 450px;
}

#parallax-img2 {
    height: 550px;
}

.intro {
    margin-bottom: 0px;
}

#navLinks {
    /* margin-right: 210px; */
}